***** FONT SIZE START *****/
.font-size_7 {
	font-size:7px;
}
.font-size_8 {
	font-size:8px;
}
.font-size_9 {
	font-size:9px;
}
.font-size_10 {
	font-size:10px;
}
.font-size_11 {
	font-size:11px;
}
.font-size_12 {
	font-size:12px;
}
.font-size_13 {
	font-size:13px;
}
.font-size_14 {
	font-size:14px;
}
.font-size_15 {
	font-size:15px;
}
.font-size_16 {
	font-size:16px;
}
.font-size_17 {
	font-size:17px;
}
.font-size_18 {
	font-size:18px;
}
.font-size_19 {
	font-size:19px;
}
.font-size_20 {
	font-size:20px;
}
***** FONT SIZE END *****/