
/***** PADDING TOP START *****/
.padding_t_5 {
    padding-top:5px;
}
.padding_t_10 {
    padding-top:10px;
}
.padding_t_15 {
    padding-top:15px;
}
.padding_t_20 {
    padding-top:20px;
}
.padding_t_25 {
    padding-top:25px;
}
.padding_t_30 {
    padding-top:30px;
}
.padding_t_35 {
    padding-top:35px;
}
.padding_t_40 {
    padding-top:40px;
}
.padding_t_45 {
    padding-top:45px;
}
.padding_t_50 {
    padding-top:50px;
}

/***** PADDING TOP END *****/